<div class="col-9 padding-none">
    {{> navbar}}
  <form action="/addPlaylist" method="post" class="px-6 mt-3">
    <div class="mb-3 d-flex justify-content-center">
       <div class="username-input mb-5">
              <input type="text" placeholder="Playlist Name" name="name" />
            </div>
     <div class="btn-register mb-2">
              <button type="submit">Done</button>
            </div>
    </div>
  </form>
</div>