{{!-- Header --}}
{{> header}}
  <body>
    <div class="container-fluid container-css">
      <div class="row">
        {{! column music }}
        {{> playlistDetail}}
        {{! Column Playlist }}
      </div>
    </div>
    {{!-- script --}}
    {{> scriptJS}}
  </body>
</html>